<div class="movement-destination">
    <div class="destination-controls">
        <button type="button" class="push-movement-btn">
            <i class="fas fa-arrow-turn-up"></i> Push
        </button>
        <button type="button" class="pull-movement-btn">
            <i class="fas fa-arrow-turn-down"></i> Pull
        </button>
        <button type="button" class="cancel-movement-btn">
            <i class="fas fa-times"></i> Cancel
        </button>
    </div>
</div>
